{% extends 'base.html' %}
{% load static %}

    {% block title %}Show All{% endblock %}

    {% block import-css %} 
        <link href=" {% static 'css/index.css' %}" rel="stylesheet" media="all">
    {% endblock %}


    {% block search  %}

        <form class="form-header" action="{% url 'search'%}"  method = "get" >
            <input class="au-input au-input--xl"  name = "q_name"  type = "text"  placeholder = "Search for name">
                <button class="au-btn--submit" type="submit">
                    <i class="zmdi zmdi-search"></i>
                </button>
        </form>
    {% endblock %}

    {% block right-header %}

        <button class="btn btn-secondary"><a href="" class="text-decoration-none text-white">Button</a></button>

    {% endblock %}

    {% block content %}
        <!-- DATA TABLE -->
        <h1 class="title">Here you can see all your Habits</h1>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter">
                    <a href="{% url 'home' %}" class="text-decoration-none text-secondary">
                        <i class="zmdi zmdi-filter-list"></i>All Habits
                    </a>
                </button>
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                        <option selected="selected">Today</option>
                        <option value="">3 Days</option>
                        <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters</button>
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <a href="{% url 'create_habit' %}" class="text-decoration-none text-white ">
                    <i class="zmdi zmdi-plus"></i>add habit</a></button>
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option selected="selected">Export</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
        </div>
        
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th><span class="Title-column">Name</span></th>
                        <th><span class="Title-column">Trigger</span></th>
                        <th><span class="Title-column">Routine</span></th>
                        <th><span class="Title-column">Reward</span></th>
                        <th><span class="Title-column">Pole</span></th>
                        <th></th>
                    </tr>
                </thead>
                {% for habit in object_list %}

                    <tbody>

                        <tr class="tr-shadow ordinary_row">
                                <td>
                                    <span class="block-email rounded ">{{habit.name}}</span>
                                </td>
                                <td>{{habit.trigger}}</td>
                                <td >{{habit.routine}}</td>
                                <td>{{habit.reward}}</td>
                                <td>
                                        {% if habit.good %}
                                        <span class="text-success"> Positive </span>
                                        {% else %}
                                            <span class="text-danger"> Negative </span>
                                        {% endif %}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                    
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" >
                                            <a href="{% url 'update_habit' pk=habit.pk %}">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                        </button>
                                        <button class="item button_delete" title="Delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                <i class="zmdi zmdi-delete"></i>
                                            <a href="{% url 'delete_habit' pk=habit.pk %}" class="text-decoration-none text-white in_modal_link_habit invisible">Delete</a>
                                            
                                            <span class="in_modal_name_habit invisible">{{ habit.name }}</span>
                                        </button>
                                    </div>
                                </td>
                            </div>
                        </tr>

                        <tr class="spacer"></tr>
                        
                    </tbody>

                    
                {% endfor %}
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure you want to delete this habit?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <a href="{% url 'home' %}" class="text-decoration-none text-white">
                                    Back
                                </a>
                            </button>
                            <button type="button" class="btn btn-primary ">
                                
                            </button>
                            </div>
                        </div>
                        </div>
                    </div>
            </table>
        </div>
        <!-- END DATA TABLE -->

    {% endblock %}

    {% block importe-js %}
        <script src="{% static 'js/table.js' %}"></script>
    {% endblock %}