.title{
    margin-bottom: 20px;
}

.Title-column{
    font-size: 15px;
}




.block-email {
    font-size: 18px;
}

/* start thead */
.table-data2.table thead tr > th {
    padding-left: 10px;
    padding-right: 80px;
}

.table-data2.table thead tr th:first-child{
    padding-left: 20px;
    padding-right: 50px;
}

.table-data2.table thead tr th:nth-last-child(2) {
    padding-right: 10px;
    padding-left: 10px;
}

.table-data2.table thead tr th:last-child {
    padding-right: 0px;
    padding-left: 0px;
} 

.item:last-child{
    margin-left: 10px;
}
/* end thead */

.table-data2.table tbody tr > td{
    padding-left: 10px;
    padding-right: 40px;
}

.table-data2.table tbody tr > td:first-child{
    padding-left: 10px;
    padding-right: 30px;
    
}

.table-data2.table tbody tr > td:nth-last-child(2){
    padding-left: 10px;
    padding-right: 20px;
}

.table-data2.table tbody tr > td:nth-last-child(3){
    max-width: 1000px;
}

.table-data2.table tbody tr > td:last-child{
    padding-left: 0px;
    padding-right: 20px;
}


.table-data2.table tbody tr td:first-child {
    vertical-align: auto;
}

.table-data2.table tbody td {
    font-size: 16px;
}


.modal-backdrop
{
    opacity:0 !important;
}

.modal-backdrop {
  z-index: -1;
}