.title{
    margin-bottom: 20px;
}

.Title-column{
    font-size: 15px;
}

tbody{
    width: 80%;
}

.table-data2.table thead tr th:first-child{
    padding-right: 15%;
    padding-left: 5%p;
}

.table-data2.table thead tr > th{
    padding-right: 15%;
    padding-left: 5%p;
}

.table-data2.table thead tr th:nth-last-child(2) {
    padding-right: 0px;
    padding-left: 2%;
}

.table-data2.table thead tr th:last-child {
    padding-right: 0px;
    padding-left: 0px;
}

.item:last-child{
    margin-left: 10px;
}

.block-email {
    font-size: 18px;
}

.table-data2.table tbody tr td:first-child {
    vertical-align: auto;
}

.table-data2.table tbody td {
    font-size: 16px;
}

